@media (max-width: 750px) {
    .menu-btn {
        display: flex;
    }
    .header.active .menu-btn span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 8px);
    }
    .header.active .menu-btn span:nth-child(2) {
        opacity: 0;
    }
    .header.active .menu-btn span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -8px);
    }
}
