.kontejner {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    position: fixed;
    grid-column: 1/-1;
    backdrop-filter: blur(8px);
    background: var(--secondary-transparent);
    z-index: 1000;
}
.hero-layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
}
.hero-wrapper {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: var(--spacing-20);
    margin: var(--spacing-20);
}
.main {
    grid-column: 1/-1;
    grid-row: 3;
    padding: var(--spacing-25); 
}

.footer {
    display: flex;
    width: 100%;
    grid-row: 4;
    grid-column: 1/-1;
    background-color: var(--main-dark);
    justify-content: space-evenly;   
}
.varovani {
    display: flex;
    width: 100%;
    grid-row: 5;
    grid-column: 1/-1;
    background-color: var(--warning);
    justify-content: center;
}
.kontakty-kontejner {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-30);
    width: 100%;
    margin: var(--spacing-125) 0;
    padding-bottom: var(--spacing-20);
    overflow-x: hidden;
}
.portfolio-kontejner {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-20);
    gap: var(--spacing-10);
    border-radius: var(--radius-10);
    box-shadow: rgba(0,0,0,0.25) 0px 4px 15px;
    align-self: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--light);
    width:90%;
}
.Onas-kontejner {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-30);
    width: 100%;
    margin-top: var(--spacing-125) 0;
    padding-bottom: var(--spacing-20);
    overflow-x: hidden;
}