html, body {
        border: 0;
        margin: 0;
        padding: 0;
        line-height: var(--line-height-base);
        font-size: 16px;
        display: block;
        background-attachment: fixed;
        font-family: 'Helvetica Neue', sans-serif;
        background-color: var(--light); 
    background-image: 
        linear-gradient(#e1e8ed 1px, transparent 1px),
        linear-gradient(90deg, #e1e8ed 1px, transparent 1px);
    background-size: 40px 40px; 
    background-position: center top;
    scroll-behavior: smooth;
    }
