:root {
    /* ... (tvoje proměnné nechej tak, jak jsou) ... */
    --font-size-5xl: 2.986rem;
    --font-size-4xl: 2.488rem;
    --font-size-3xl: 2.074rem;
    --font-size-2xl: 1.728rem;
    --font-size-xl: 1.44rem;
    --font-size-l: 1.2rem;
    --font-size-m: 1rem;
    --font-size-s: 0.833rem;
    --font-size-xs: 0.694rem;
    
    --m5: 5px; --m10: 10px; --m20: 20px; --m25: 25px; --m50: 50px; --m100: 100px;
    --p5: 5px; --p10: 10px; --p20: 20px; --p25: 25px; --p50: 50px; --p100: 100px;
    --h50: 50px; --h90: 90px; --h100: 100px;
    --w90: 90px; --w100: 100px; --w200: 200px;
    
    --main-dark: RGB(0, 38, 77); 
    --main-light: RGB(0, 82, 162); 
    
    --secondary: rgb(255, 255, 255);
    --secondary-transparent: rgba(0, 0, 0, 0.67);
    --light-transparent: rgba(255, 255, 255, 0.5);
    --line-height-base: 1.3;
}
 
p {
    font-size: var(--font-size-xl);
    color: black;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}
    h1 {
        font-size: var(--font-size-5xl);
           text-align: center;
      }
      h2 {
        font-size: var(--font-size-4xl);
        font-weight: 800;
        text-align: center;
      }
      h3 {
        font-size: var(--font-size-3xl);
        text-align: center;
      }
      h4 {
        font-size: var(--font-size-2xl);
      }
      h5 {
        font-size: var(--font-size-xl);
      }
      h6 {
        font-size: var(--font-size-l);
      }
     