html, body {
    background-color: #f4f7f6; 
    background-image: 
        linear-gradient(#e1e8ed 1px, transparent 1px),
        linear-gradient(90deg, #e1e8ed 1px, transparent 1px);
    background-size: 40px 40px; 
    background-position: center top;
    scroll-behavior: smooth;
    }
#mapa, #Mail-form {
scroll-margin-top:var(--spacing-150);
}




:root {
    /* ... (tvoje proměnné nechej tak, jak jsou) ... */
    --font-size-5xl: 2.986rem;
    --font-size-4xl: 2.488rem;
    --font-size-3xl: 2.074rem;
    --font-size-2xl: 1.728rem;
    --font-size-xl: 1.44rem;
    --font-size-l: 1.2rem;
    --font-size-m: 1rem;
    --font-size-s: 0.833rem;
    --font-size-xs: 0.694rem;
    
    --spacing-10: 10px;
    --spacing-20: 20px; 
    --spacing-25: 25px;
    --spacing-30: 30px;
    --spacing-40: 40px;
    --spacing-50: 50px;
    --spacing-70:70px;
    --spacing-75: 75px;
    --spacing-90:90px;
    --spacing-100: 100px;
    --spacing-110: 110px;
    --spacing-125: 125px;
    --spacing-150: 150px;
    --spacing-250: 250px;
    
    --line-height-base: 1.3;

    --radius-10:10px;
    --radius-20:20px;

    --dark:rgb(0,0,0);

--warning: RGB(255,0,0);

    --main-dark: RGB(0, 38, 77); 
    --main-light: RGB(0, 82, 162); 
    
    --bg-light:#f4f7f6;

    --gradient-light:linear-gradient(135deg, #F1F5F9 0%, #CBD5E1 100%);
    --gradient-dark:#0F172A;
    
    --light: rgb(255, 255, 255);
    --secondary-transparent: rgba(0, 0, 0, 0.67);
    --light-transparent: rgba(255, 255, 255, 0.5);

}
 
p {
    font-size: var(--font-size-xl);
    color:var(--dark);
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}
    h1 {
        font-size: var(--font-size-5xl);
           text-align: center;
      }
      h2 {
        font-size: var(--font-size-4xl);
        font-weight: 800;
        text-align: center;
      }
      h3 {
        font-size: var(--font-size-3xl);
        text-align: center;
      }
      h4 {
        font-size: var(--font-size-2xl);
      }
      h5 {
        font-size: var(--font-size-xl);
      }
      h6 {
        font-size: var(--font-size-l);
      }
     a {
        text-decoration: none;
     color:var(--dark)
      }
      iframe {
    width: 100%;
    max-width: 100%;
}
input, textarea {
    width: 100%;
    box-sizing: border-box; 
}