.kontejner {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    position: fixed;
    grid-column: 1/-1;
    backdrop-filter: blur(8px);
    background: var(--secondary-transparent);
    z-index: 1000;
    transition: background 0.3s;
}

/* --- DESKTOP LAYOUT --- */
.header-nav {
    display: grid;
    grid-template-columns: 1fr auto; 
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav-left, .nav-right {
  
    align-self: center;
}

.nav-right {
    justify-self: end;
}

.nav-logo {
    justify-items: start;
    align-items: center;
    margin: var(--spacing-20);
}

.nav-logo img {
    display: block;
    max-height: 50px; 
}


.nav-left ul, .nav-right ul {
    display: flex;
   
    gap: 2vw; 
}

/* --- HERO & MAIN --- */
.hero-layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
}

.hero-sekce {
    grid-column: 1/-1;
    background-image: url(../IMG/Site.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -2;
}

.hero-text {
    grid-column: 2/3;
    grid-row: 2/3;
    backdrop-filter: blur(8px);
    background: var(--light-transparent);
    color:var(--dark);
    padding: var(--spacing-50);
    border-radius: var(--radius-20);
    margin: var(--spacing-20);
}

.main {
    grid-column: 1/-1;
    grid-row: 3;
    padding: var(--spacing-25); /* Přidáno odsazení */
}

.footer {
    display: flex;
    width: 100%;
    grid-row: 4;
    grid-column: 1/-1;
    background-color: rgb(2, 56, 110);
    justify-content: center;
    
}
.projekt-layout {
   grid-column:1/-1;
   grid-row:2/4; 
    display: flex;
    margin:auto;
    margin-top:var(--spacing-150);
   gap:var(--spacing-150);
    flex-direction: column;
    background-color: var(--bg-light);

}
.portfolio-kontejner {
overflow: hidden;
display:flex;
   align-items: center;
   justify-content: start; 
   padding:var(--spacing-30);
   gap:var(--spacing-75);
  border-radius:10px;
  box-shadow:rgba(0,0,0,0.25) 0px 4px 15px;
 align-items:flex-start;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.portfolio-obrazek{
width: 450px;
height:350px;
position: relative;
transition: transform 0.4s ease-in-out;

}
.portfolio-obrazek:hover{
transform:scale(1.1);

}
.portfolio-obrazek img {
    width: 100%;          /* "Buď široký jen jako tvůj rodič (.obrazek-wrapper)" */
    height: 100%;         /* Vyplň výšku */
    object-fit: cover;    /* Ořízni se, nedeformuj se */
    display:block;
    border-radius:10px;
}
 .portfolio-text{
    max-width:1100px;
}
.portfolio-kontejner:hover{
transform: translateY(-5px); /* Karta se posune o 5px nahoru */
    box-shadow: rgba(0,0,0,0.2) 0px 10px 25px;
}

.portfolio-text p, h2, ::after{
text-align:left;
}
.stitek {
    position: absolute; /* Vytrhne ho z textu a dovolí posouvat */
    top: 10px;          /* 20px odshora */
    left: 10px;         /* 20px zleva */
    background-color: var(--main-dark); /* Modrá barva (nebo dejte 'red') */
    color: white;       /* Bílé písmo */
    padding: 5px 15px;  /* Vnitřní odsazení */
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase; /* Všechna písmena velká */
    letter-spacing: 1px;       /* Rozestup písmen */
    border-radius: 4px;        /* Kulaté rohy */
    z-index: 10;               /* Aby byl vždy NAD obrázkem */
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Malý stín */
}
.projekt-nadpis{
display:flex;
flex-direction:column;
grid-row:1;
grid-column:1/-1;
margin-top:var(--spacing-150);
padding:0px;
text-align:center;
}



















/* --- RESPONZIVITA (MOBIL) --- */
@media (max-width: 750px) {
    .projekt-layout {
gap:var(--spacing-25)
    }
    .portfolio-text p, h2, h2::after{
text-align:center;
}
.portfolio-text p, h2, h2::after{
width: 380px;
margin: 10px auto;
}
.portfolio-kontejner {
    flex-direction: column;
    align-items: center;
    padding:var(--spacing-10);
    gap:var(--spacing-30);
}
.hero-sekce {
        height: auto;
        min-height: 60vh; 
        align-items: center;
        justify-content: center;
        padding: var(--spacing-40) 0; /* Přidáme polstrování nahoře a dole, aby text nebyl nalepený */
}
h1{
font-size:var(--font-size-2xl) ;
}
p{
font-size:var(--font-size-m);
}

    .header-nav {
        display: flex;
        flex-wrap: wrap; /* Povolit zalomení */
        justify-content: space-between;
        padding:var(--spacing-10);
    }

    .nav-logo {
        margin: 0; /* Reset marginu na mobilu */
        order: 1; /* Logo první */
    }

    /* Skrytí menu v základu na mobilu */
    .nav-left, .nav-right {
        display: none; 
        width: 100%;
        order: 3; /* Menu až pod logem a tlačítkem */
        text-align: center;
        padding-top: 20px;
    }

    /* Reset flexu pro seznamy - pod sebe */
    .nav-left ul, .nav-right ul {
        flex-direction: column;
        gap: 15px; /* Pevná mezera na mobilu */
    }

    /* Když JS přidá třídu .active */
    .header.active .nav-left,
    .header.active .nav-right {
        display: block;
        animation: fadeIn 5s ease;
       
    }
    
    /* Změna pozadí headeru při otevření, aby bylo čitelné */
    .header.active {
        background: var(--secondary-transparent);
    }
    
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-100px); }
    to { opacity: 1; transform: translateY(0); }
}


