html, body {
        border: 0;
        margin: 0;
        padding: 0;
        line-height: var(--line-height-base);
        font-size: 16px;
        display: block;
        height: 100%;
        width: 100%;
        background-attachment: fixed;
        font-family: 'Helvetica Neue', sans-serif;
    }