html, body {
        border: 0;
        margin: 0;
        padding: 0;
        line-height: var(--line-height-base);
        font-size: 16px;
        display: block;
        height: 100%;
        width: 100%;
        background-attachment: fixed;
        font-family: 'Helvetica Neue', sans-serif;
      background-color: #f4f7f6; /* Základní barva */
    /* Vytvoří jemnou mřížku */
    background-image: 
        linear-gradient(#e1e8ed 1px, transparent 1px),
        linear-gradient(90deg, #e1e8ed 1px, transparent 1px);
    background-size: 40px 40px; /* Velikost čtverečků */
    background-position: center top;
    }